{{extend 'layout.html'}}

<h1 style="color:blue; text-align:center">All Client View</h1>
<table width="954" align="center" border="2">
<tr style="text-align:center;font-size: 18px" id="headline">
<th align="left">Client Name</th>
<th align="left">url</th>
<th align="left">devices attached</th>
</tr> 
{{for client in list_client:}}
<tr>
{{if client.workstation == True:}}
<td bgcolor="#FFFF11" align="left">{{=client.name }}    [ {{=A('edit', _href=URL('edit_client', args=client.id))}}| {{=A('show device', _href=URL('show_device', args=client.id))}}]</td>
{{else:}}
<td align="left">{{=client.name }}    [ {{=A('edit', _href=URL('edit_client', args=client.id))}}| {{=A('show device', _href=URL('show_device', args=client.id))}}]</td>
{{pass}}
<td align="left">{{=client.url}}</td>
<td align="left">
{{for raw in db(db.device.host_name==client.id).select():}}
    {{=A(B(T(raw.name)), _href=URL('device_cfg',args=raw.id))}}
{{pass}}
[ {{=A('flush', _href=URL('flush_device', args=client.id))}}]
</td>


</tr>
{{pass}}
</table>

[ {{=A('new client', _href=URL('new_client', args=request.args))}}
| {{=A('show all device', _href=URL('show_all_devices'))}}]
